# Noethys
Config.dat
Customize.ini
Aide/
Temp/
Updates/
Sync/
Installeur/
PaquetDebian/
Travaux/
source/Data/*_DATA.dat
source/Data/*_DOCUMENTS.dat
source/Data/*_PHOTOS.dat
SQLiteSpy.exe
SQLiteSpy.db3
TODO.xlsx
nologin.txt
PackagerLinux.py
CreateurANNONCES.py
CreateurMAJ.py
setup.bat
gdiplus.dll
libiconv-2.dll
libzbar-0.dll
msvcm90.dll
msvcp90.dll
msvcr90.dll
Microsoft.VC90.CRT.manifest
Thumbs.db
.bak
*.xlang
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template 
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
source/Images/128x128/Thumbs.db
source/Images/128x128/Thumbs.db
source/Images/128x128/Thumbs.db
source/Images/128x128/Thumbs.db
source/Images/16x16/Thumbs.db
source/Images/22x22/Thumbs.db
source/Images/32x32/Thumbs.db
source/Images/48x48/Thumbs.db
source/Images/80x80/Thumbs.db
source/Images/Badgeage/Thumbs.db
source/Images/BoutonsImages/Thumbs.db
source/Images/Special/Thumbs.db

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
