appdirs>=1.4.3
comtypes>=0.6.4
icalendar>=3.1
numpy>=1.8.0
Pillow>3.3.2
pycrypto>=2.6.1
PyExcelerator>=0.6.4.1
pyttsx>=1.0
pytz>=2018.4
reportlab==2.5
Twisted>=15.0.0
xlrd>=0.6.1
zope.interface>=4.1.2
python-dateutil>=2.7.3
psutil>=4.3.1
paramiko>=2.0.2
lxml>=3.3.5
zope.interface>=4.5.0
setuptools==19.2
pyscard>=1.6.12
matplotlib==1.1.0
pyopencv>=2.1.0
sqlalchemy